@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #000;
    background-size: cover;
    color: white;
}
:root {
    --background: url(Header\ slider.png.1.jpg)no-repeat center/cover;
}

html {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 65%;
    height: 85vh;
    /* border: 1px solid #000; */
    margin: auto;
    transition: .3s linear;
}

header nav {
    width: 100%;
    height: 7%;
    margin: 5px auto;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .right_bx {
    display: flex;
    align-items: center;
}

header nav .right_bx ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav .right_bx ul li {
    padding: 3px 15px;
}


header nav .right_bx ul li a {
    text-decoration: none;
    color: gray;
    font-size: 11px;
    font-weight: 500;
    transition: .3s linear;
    font-size: 18px;
}

header nav .right_bx ul li a:hover {
    color: #000;
}






header .content {
    position: relative;
    width: 100%;
    height: 93%;
    /* border: 1px solid #000; */
    z-index: 5;
}

header .content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    background: var(--background);
    background-position-y: 0px;
    transform: scaleX(-1);
    border-radius: 20px;
    z-index: -1;
}

.home {
    position: relative;
    width: 65%;
    height: 230px;
    margin: auto;
    /* border: 1px solid #000; */
    top: -220px;
    z-index: 2;
    color: white;
}




.home .home_bx {
    width: 100%;
    margin-top: 50px;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .home_bx .card {
    position: relative;
    width: 180px;
    height: 260px;
    border-radius: 15px;
    /* border: 1px solid #000; */
}

.home .home_bx .card img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.home .title_button h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}






section {
    position: relative;
    width: 65%;
    height: auto;
    /* border: 1px solid #000; */
    margin: auto;
    color: white;
}

section h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    border: double solid green;
}

section .box {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

section .box .img_bx,
.cont_box {
    width: 50%;
    height: 100%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

section .box .img_bx img {
    width: 85%;
    border-radius: 5px;
}

section .box .cont_box {
    flex-direction: column;
    align-items: flex-start;
}

section .box .cont_box h6 {
    position: relative;
}

section .box .cont_box h6 span {
    margin-left: 25px;
}

section .box .cont_box h6::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 1.5px;
    background: rgb(136, 136, 136);
    top: 7px;
}

section .box .cont_box h1 {
    font-weight: 600;
    margin: 10px 0px;
}

section .box .cont_box p {
    font-size: 12px;
}

section .box .cont_box ul {
    list-style-type: none;
    flex-wrap: wrap;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .box .cont_box ul li {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    width: 200px;
    /* border: 1px solid #000; */
    margin-top: 20px;
}

section .box .cont_box ul li::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: skyblue;
    border-radius: 50%;
    left: -20px;
    top: 8px;
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    margin-top: 50px;
}

footer h4 {
    color: #fff;
}

footer h4 .bi {
    margin-right: 5px;
}